<app-header></app-header>
<section class="content-wrapper">
    <div class="container">
        <div class="user-list with-filter">
            <div class="head-common">
                <h4 *ngIf="total != 0" class="comn_title">Wallet Balance: {{wallet_balance}}</h4>
                <h4 class="comn_title">All Transactions</h4>
                <a *ngIf="total != 0" (click)="show_modal()" class="btn btn-primary btn-lg"><span class="ti-list"></span>Create Withdrawal
                    Request</a>
            </div>
            <div class="tabel-sec">
                <table class="table tb_captain table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Amount</th>
                            <th>Transaction Type</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let row of datalist | paginate: { itemsPerPage: per_page, currentPage: page, totalItems: total }; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{row.amount}}</td>
                            <td [innerHTML]="row.type"></td>
                            <td [innerHTML]="row.status"></td>
                            <td>{{row.created_date}}</td>
                        </tr>
                        <tr *ngIf="total == 0">
                            <td colspan="7">No records found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="total != 0" class="mention-card">
                <div class="paginate_sec_bottom">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="modal" id="withdrawalModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Send Withdrawal Request</h4>
                    <h5 class="comn_title">Wallet Balance: {{wallet_balance}}</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="hide_modal()">&times;</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="form" (ngSubmit)="doFormAction()" action="javascript:void(0);">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="">Withdrawal Amount <span class="required">*</span></label>
                                <input type="text" class="form-control" formControlName="withdrawal_amount">
                                <span class="validation" *ngIf="!form_validate_error('withdrawal_amount', 'required')">This field is
                                    required.</span>
                                <span class="validation" *ngIf="!form_validate_error('withdrawal_amount', 'pattern')">Invalid Amount.</span>
                                <span class="validation" *ngIf="!form_validate_error('withdrawal_amount', 'checkWithdrawalAmount')">Not sufficient balance to withdraw.</span>
                            </div>
                        </div>
                        <div class="form-submit">
                            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>