<section class="login-wrapper">
    <div class="login-form form-sec">
         <div class="login-logo">
            <a href="http://nikatrading.in"> <img src="../../../assets/images/logo.png" alt="Nika Trading logo" title="Nika Trading"></a>
         </div>
         <h4 class="login-title">Login</h4>
         <div class="login-form-sec">
                <form [formGroup]="form" (ngSubmit)="doFormAction()" action="javascript:void(0);">

                    <!-- Email input -->
                    <div class="form-group mb-4">
                        <label class="form-label">Email address</label>
                        <input type="text" class="form-control" placeholder="Email Address" formControlName="email" />
                        <span class="validation" *ngIf="!form_validate_error('email', 'required')">Please enter the
                            email address.</span>
                        <span class="validation" *ngIf="!form_validate_error('email', 'email')">Please enter the valid
                            email address.</span>
                        <span class="validation" *ngIf="err.email">{{err.email}}</span>
                    </div>
                    <div class="form-submit login_sbmt">
                        <button type="button" class="btn btn-primary btn-lg" type="submit">Send</button>
                        <a href="javascript:void(0);" class="text-body" routerLink="/login">Login</a>
                    </div>

                </form>
            </div>
            
        </div>
</section>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#aab9f2" type="square-spin" [fullScreen]="true">
    <p style="color: white"></p>
</ngx-spinner>