<app-header></app-header>
<section class="content-wrapper">
    <div class="container">
        <div class="form-section">
            <div class="head-common">
                <h4 class="comn_title">View Order Details</h4>
                <div class="btn-sec">
                    <a routerLink="/orders" class="btn btn-primary btn-lg">All Orders</a>
                </div>
            </div>
            <div class="view-data row">
                <div class="col-md-12">
                    <div class="view-group">
                        <label>Order ID: </label>
                        <span>{{data.reference_id}}</span>
                    </div>
                    <div class="view-group">
                        <label>Customer Name: </label>
                        <span>{{data.customer_name}}</span>
                    </div>
                    <div class="view-group">
                        <label>Status Name: </label>
                        <span>{{data.status_name}}</span>
                    </div>
                    <div class="view-group">
                        <label>Shipment Date: </label>
                        <span>{{data.shipment_date}}</span>
                    </div>
                    <div class="view-group">
                        <label>Total Amount: </label>
                        <span>{{data.total_amount}}</span>
                    </div>
                    <div class="view-group">
                        <label>Created By: </label>
                        <span>{{data.user_name}}</span>
                    </div>
                    <div class="view-group">
                        <label>Created Date: </label>
                        <span>{{data.created_date}}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tabel-sec">
                        <table class="table tb_captain table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Item Id</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of items_data">
                                    <td>{{row.item_id}}</td>
                                    <td>{{row.item_name}}</td>
                                    <td>{{row.quantity}}</td>
                                    <td>{{row.unit_price}}</td>
                                    <td>{{row.total_price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>