<app-header></app-header>
<section class="content-wrapper">
    <div class="container">
        <div class="user-list with-filter">
            <div class="head-common">
                <h4 class="comn_title">All Withdrawal Requests</h4>
            </div>
            <div class="tabel-sec">
                <table class="table tb_captain table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User Name</th>
                            <th>Requested Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let row of datalist | paginate: { itemsPerPage: per_page, currentPage: page, totalItems: total }; let i = index;">
                            <td>{{row.id}}</td>
                            <td>{{row.user_name}}</td>
                            <td>{{row.amount}}</td>
                            <td  [innerHTML]="row.status"></td>
                            <td>
                                <div class="comn-actions">
                                    <a routerLink="/withdrawal-requests/view/{{row.id}}" title="View" class="edit-btn action-btns"
                                        role="button">
                                        <i class="fa fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="total == 0">
                            <td colspan="7">No records found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="total != 0" class="mention-card">
                <div class="paginate_sec_bottom">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>